body {
  font-family: Arial, sans-serif;
  background-color: rgb(231, 231, 231);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.logeo h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: rgb(71, 71, 71);
  text-align: center;
}

.logeo input {
  width: 94.5%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
}

.logeo button {
  width: 100%;
  padding: 10px;
  background-color: rgb(71, 71, 71);
  color: rgb(231, 231, 231);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registro {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: rgb(71, 71, 71);
}

.registro a {
  color: rgb(71, 71, 71);
  font-weight: bold;
  text-decoration: none;
}

.registro a:hover {
  text-decoration: underline;
}
